$color: (
    "default": black,
    "text": white,
    "headerbackground": rgba(255, 255, 255, .8),
    "background": rgba(234, 232, 253, .35)
);

$measurements : (
    "maxvw": 1500px,
    "maxvh": 675px,
    "headerheight": 80px
    
);


$padding: (
    "one": 10px,
    "two": 20px,
    "three": 30px
)