.banner {
  width: 100%;
  height: 450px;
  background: url("../images/contact_banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.banner .banner-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 30px 8%;
  color: white;
  text-align: center;
}
.banner .banner-content .banner-header {
  font-size: 2rem;
}
.banner .banner-content .banner-action {
  margin-top: 10px;
}
.banner .banner-content .banner-action a {
  font-size: 2rem;
  color: white;
}
.banner .banner-content .banner-action a:hover {
  transform: scale(1.3);
  transition: 0.5s ease all;
}
.banner .banner-content .banner-action a:not(:first-child) {
  margin-left: 15px;
}

.contact {
  position: relative;
  padding: 0px 8%;
  padding-bottom: 70px;
}
.contact .contact-content {
  background: rgb(246, 245, 250);
  border-radius: 5px;
  padding: 30px;
  margin-top: -100px;
}
.contact .contact-content .contact-details,
.contact .contact-content .contact-form {
  width: 40%;
}
.contact .contact-content .contact-details .contact-details-header {
  font-size: 1.5rem;
}
.contact .contact-content .contact-details .contact-details-subtitle {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.contact .contact-content .contact-details .contact-details-links ul {
  list-style: none;
}
.contact .contact-content .contact-details .contact-details-links ul li {
  margin-top: 20px;
}
.contact .contact-content .contact-details .contact-details-links ul li a {
  color: #5138ed;
}
.contact .contact-content .contact-details .contact-details-links ul li a .icon {
  margin-right: 5px;
}
.contact .contact-content .contact-details .contact-details-links ul li a:hover {
  padding-left: 9px;
  transition: 0.5s ease all;
}
.contact .contact-content .contact-form form .form-content {
  width: 100%;
  height: auto;
}
.contact .contact-content .contact-form form .form-content input,
.contact .contact-content .contact-form form .form-content button,
.contact .contact-content .contact-form form .form-content textarea {
  width: 100%;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: poppins;
  outline: none;
}
.contact .contact-content .contact-form form .form-content label {
  color: rgba(0, 0, 0, 0.7);
}
.contact .contact-content .contact-form form .form-content input,
.contact .contact-content .contact-form form .form-content button {
  height: 40px;
}
.contact .contact-content .contact-form form .form-content input {
  padding: 0px 10px;
}
.contact .contact-content .contact-form form .form-content input:focus,
.contact .contact-content .contact-form form .form-content textarea:focus {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.contact .contact-content .contact-form form .form-content textarea {
  height: 130px;
  padding: 10px;
}
.contact .contact-content .contact-form form .form-content button {
  background: transparent;
  border: 2px solid #5138ed;
  color: #5138ed;
}
.contact .contact-content .contact-form form .form-content button:hover {
  background: #5138ed;
  color: white;
  transition: 0.5s ease all;
}
.contact .contact-content .contact-form form .form-content:not(:first-child) {
  margin-top: 15px;
}

.extra-content {
  padding: 50px 8%;
  background: #eae8fd;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.extra-content .content-details {
  max-width: 500px;
  position: relative;
  z-index: 99;
}
.extra-content .content-details .subtitle {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}
.extra-content .content-details .header {
  font-size: 2rem;
}
.extra-content .content-details .cta {
  margin-top: 10px;
}
.extra-content .content-details .cta a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  background: #5138ed;
  color: white;
}
.extra-content .content-image {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}
.extra-content .content-image img {
  height: 191%;
  width: auto;
}

@media only screen and (max-width: 734px) {
  .contact .contact-content .contact-details,
.contact .contact-content .contact-form {
    width: 100%;
  }
  .contact .contact-content .contact-details .contact-details-header {
    text-align: center;
  }
  .contact .contact-content .contact-form {
    margin-top: 30px;
  }
  .extra-content .content-image {
    opacity: 0.5;
  }
}
@media only screen and (max-width: 503px) {
  .banner .banner-content .banner-header {
    font-size: 1.8rem;
  }
  .extra-content .content-details .header {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=contact.css.map */