.banner {
  width: 100%;
  height: calc(100vh - 70px);
  max-height: 645px;
  background: url("../images/landing_page_banner_image.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner .banner-content {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 30px 8%;
}
.banner .banner-content .banner-header,
.banner .banner-content .banner-subtitle,
.banner .banner-content .property-search-form,
.banner .banner-content .banner-stats {
  max-width: 600px;
}
.banner .banner-content .banner-subtitle,
.banner .banner-content .property-search-form,
.banner .banner-content .banner-stats {
  margin-top: 20px;
}
.banner .banner-content .banner-subtitle {
  color: rgba(0, 0, 0, 0.8);
}
.banner .banner-content .banner-header {
  font-weight: bold;
  font-size: 2.5rem;
}
.banner .banner-content .property-search-form {
  width: 100%;
  height: 40px;
}
.banner .banner-content .property-search-form input {
  width: calc(100% - 40px);
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 10px;
  border: none;
  outline: none;
  background: #f6f6f6;
}
.banner .banner-content .property-search-form input:focus {
  border: 2px solid black;
  border-right: none;
  background-color: white;
}
.banner .banner-content .property-search-form input:focus ~ button {
  border: 2px solid black;
  border-left: none;
  background: black;
  color: white;
}
.banner .banner-content .property-search-form button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  background: #e6e6e6;
}
.banner .banner-content .banner-stats .stats {
  margin-right: 30px;
  align-items: center;
}
.banner .banner-content .banner-stats .stats h3 {
  font-size: 1.5rem;
  margin-right: 5px;
}

.about {
  padding: 100px 8%;
}
.about .about-content {
  width: 100%;
  padding: 30px;
  height: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.about .about-content .about-header {
  padding: 30px 8%;
}
.about .about-content .about-header .about-header-content {
  margin-right: 20px;
  margin-bottom: 20px;
}
.about .about-content .about-header .about-header-content h2 {
  font-size: 1.5rem;
}
.about .about-content .about-header .about-header-content .about-subtitle {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
.about .about-content .about-header .about-header-content a {
  background: #5138ed;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  display: block;
  border-radius: 5px;
}
.about .about-content .service-content {
  width: 100%;
  margin-top: 30px;
}
.about .about-content .service-content .service-card {
  border-radius: 5px;
  width: 23%;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.about .about-content .service-content .service-card .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(234, 232, 253);
  color: #5138ed;
  font-size: 1.5rem;
}
.about .about-content .service-content .service-card h3,
.about .about-content .service-content .service-card p {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.about .about-content .service-content .service-card h3 {
  font-size: 1.1rem;
}
.about .about-content .service-content .service-card p {
  text-align: center;
  font-size: 0.9rem;
}
.about .about-content::after {
  background: rgba(234, 232, 253, 0.5);
  width: 100%;
  height: 60%;
  top: 0px;
  left: 0px;
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 10px;
}

.properties {
  width: 100%;
  height: auto;
  padding: 30px 8%;
}
.properties .properties-header h2 {
  font-size: 1.3rem;
}
.properties .properties-header a {
  color: #5138ed;
}
.properties .properties-container {
  margin-top: 30px;
}
.properties .properties-container .properties-card {
  width: 23%;
  min-width: 23%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
  margin-right: 2%;
  display: block;
  position: relative;
}
.properties .properties-container .properties-card .tag {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 10px;
  background: #e6e6e6;
  border-radius: 15px;
  font-size: 0.7rem;
}
.properties .properties-container .properties-card .sale {
  background: #5138ed;
  color: white;
}
.properties .properties-container .properties-card .properties-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.properties .properties-container .properties-card .property-name,
.properties .properties-container .properties-card .property-price,
.properties .properties-container .properties-card .location {
  margin-top: 10px;
}
.properties .properties-container .properties-card .property-name {
  font-size: 1rem;
}
.properties .properties-container .properties-card .property-price {
  font-size: 0.9rem;
  color: #5138ed;
}
.properties .properties-container .properties-card .location {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
}

.reviews {
  padding: 90px 8%;
}
.reviews .review-header {
  text-align: center;
}
.reviews .review-content {
  width: 100%;
  overflow: hidden;
  padding: 50px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.reviews .review-content .review-card {
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 350px;
  min-width: 350px;
  border-radius: 5px;
  margin-right: 20px;
}
.reviews .review-content .review-card .message {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}
.reviews .review-content .review-card .name {
  font-size: 0.9rem;
  margin-top: 14px;
}
.reviews .review-content .review-card .role {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  margin-top: 5px;
}
.reviews .action-content {
  margin-top: 20px;
}
.reviews .action-content button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 1.2rem;
}
.reviews .action-content button:not(:first-child) {
  margin-left: 10px;
}
.reviews .action-content button:hover {
  color: white;
  background: #5138ed;
  transition: 0.5s ease all;
}

.extra-content {
  padding: 50px 8%;
  background: #eae8fd;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.extra-content .content-details {
  max-width: 500px;
  position: relative;
  z-index: 99;
}
.extra-content .content-details .subtitle {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}
.extra-content .content-details .header {
  font-size: 2rem;
}
.extra-content .content-details .cta {
  margin-top: 10px;
}
.extra-content .content-details .cta a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  background: #5138ed;
  color: white;
}
.extra-content .content-image {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}
.extra-content .content-image img {
  height: 191%;
  width: auto;
}

@media only screen and (max-width: 960px) {
  .about .about-content .service-content .service-card {
    width: 45%;
    margin-bottom: 30px;
  }
  .about .about-content::after {
    height: 80%;
  }
  .properties .properties-container .properties-card {
    width: 45%;
  }
}
@media only screen and (max-width: 751px) {
  .about .about-content .about-header {
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 734px) {
  .extra-content .content-image {
    opacity: 0.5;
  }
}
@media only screen and (max-width: 550px) {
  .banner {
    max-height: 545px;
  }
  .banner .banner-content {
    text-align: center;
  }
  .banner .banner-content .banner-header {
    font-size: 1.5rem;
  }
  .about .about-content .service-content {
    justify-content: center;
  }
  .about .about-content .service-content .service-card {
    width: 90%;
  }
  .about .about-content::after {
    height: 85%;
  }
  .properties .properties-container .properties-card {
    width: 90%;
  }
}
@media only screen and (max-width: 503px) {
  .banner .banner-content .banner-stats {
    justify-content: center;
  }
  .banner .banner-content .banner-stats .stats:not(:first-child) {
    margin-top: 10px;
  }
  .extra-content .content-details .header {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .about .about-content .service-content {
    justify-content: center;
  }
  .about .about-content .service-content .service-card {
    width: 100%;
  }
  .properties .properties-container .properties-card {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */